.wrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.wrapper button {
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  color: var(--text);
  cursor: pointer;
  background: var(--button-background);
  transition: background 0.2s ease;
}

.wrapper button:hover {
  background: var(--button-background-hover);
}

.wrapper label {
  font-size: 14px;
}

.toastActions {
  display: flex;
  gap: 0.5rem;
}

.toastButton {
  display: inline-block;
  padding: 0.35rem 0.8rem;
}

.toastButton.helpButton {
  background: #0f62fe;
}
.toastButton.helpButton:hover {
  background: #0043ce;
}

.actionButton {
  width: 100%;
  padding: 0.7rem 1.6rem;
  margin: 0;
}

.actionButton.success {
  background: var(--success);
}

.actionButton.success:hover {
  background: var(--success-hover);
}

.actionButton.danger {
  background: var(--danger);
}

.actionButton.danger:hover {
  background: var(--danger-hover);
}

.raiseHandButton {
  padding: 0.25rem 0.75rem 0 0.75rem;
  display: flex;
  flex-grow: 0;
  max-width: 72px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.controlBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
