.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.title {
  text-align: center;
  width: 100%;
}

.image {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  max-width: 650px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 14px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.form [type="submit"] {
  margin-top: 1rem;
}
