html {
  --background: #262626;
  --text: #f4f4f4;
  --brand: #bfe5e3;
  --link: #78a9ff;
  --button-background: #393939;
  --button-background-hover: #4c4c4c;
  --danger: #fa4d56;
  --danger-hover: #ff8389;
  --success: #24a148;
  --success-hover: #42be65;
  --layer-01: #393939;
  --layer-02: #525252;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--background);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    --background: #f4f4f4;
    --brand: #3d9490;
    --text: #161616;
    --link: #0f62fe;
    --button-background: #e0e0e0;
    --button-background-hover: #d1d1d1;
  }
}
